body {
  padding: 0;
  margin: 0;
  background-color: silver;
  display: flex;
  justify-content: center;
}

.piano-container {
  border: 2px solid white;
  display: flex;
  position: absolute;
  margin-top: 10%;
  transform: translate (-50%, -50%);
  padding: 4em 1em 1em 1em;
  border-radius: 0.62em;
  background-color: black;
  box-shadow: 0 2em 4em black;
}

.white-key{
  width: 4.37em;
  height: 17.5em;
  background-color: white;
  border-radius: 0 0 0.3em 0.3em;
  border: 2px solid #24272e;
  box-sizing: border-box;
  cursor: pointer;
}

.white-key:hover {
  background-color: rgba(128, 128, 128, 0.759);
}

.black-key{
  width: 2.5em;
  height: 10em;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
.black-key:hover{
  background-color: rgba(0, 0, 0, 0.901);
}

.black-key:nth-child(1){
  left: 4em;
}

.black-key:nth-child(1){
  left: 4em;
}

.black-key:nth-child(2){
  left: 8.37em;
}

.black-key:nth-child(3){
  left: 17.12em;
}

.black-key:nth-child(4){
  left: 21.5em;
}

.black-key:nth-child(5){
  left: 25.87em;
}

.black-key:nth-child(6){
  left: 34.62em;
}

.black-key:nth-child(7){
  left: 39em;
}

.black-key:nth-child(8){
  left: 47.75em;
}

.black-key:nth-child(9){
  left: 52.12em;
}

.black-key:nth-child(10){
  left: 56.5em;
}

@media screen and (max-width: 1000px){
  .piano-container{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1000px){
  .piano-container{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1000px){
  .piano-container{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1000px){
  .piano-container{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1000px){
  .piano-container{
    font-size: 0.7em;
  }
}